<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.mapper.HouseMapper">
	<select id="search" resultType="HouseDealDto">
		select * from housedeal
		where code = #{dongcode}
		limit 1, 8
	</select>
	
	<insert id="add" parameterType="HouseDealDto" >
		insert into housedeal(AptName,dong,code,dealAmount,buildYear,area,floor)
		values(#{aptName},#{dong},#{code},#{dealAmount},#{buildYear},#{area},#{floor})
		<selectKey resultType="int" keyProperty="no" order="AFTER">
        	SELECT LAST_INSERT_ID()
    	</selectKey>
	</insert>
	
	<insert id="fileRegist" parameterType="FileInfoDto">
		insert into file_info (no, savefolder, originfile, savefile)
		values (#{no},#{saveFolder},#{originFile},#{saveFile})
	</insert>
	
</mapper>